
.vs/VSWorkspaceState.json
*.cache
*.pdb
*.cache
*.exe
TeamNateZone/.vs/TeamNateZone/v16/.suo
*.resources
TeamNateZone/.vs/TeamNateZone/v16/.suo
TeamNateZone/bin/Debug/TeamNateZone.pdb
TeamNateZone/bin/Debug/TeamNateZone.exe
TeamNateZone/obj/Debug/TeamNateZone.csproj.GenerateResource.cache
